<!doctype html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>smscp</title>
  <meta name=description content="The easiest way to copy text to and from your cell phone and computing machines.">
  <meta name="twitter:site" content="https://smscp.xyz/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="smscp" />
  <meta name="twitter:description" content="The easiest way to copy text to and from your cell phone and computing machines." />
  <meta name="twitter:image:src" content="https://i.imgur.com/4ibpo8Q.png" />
  <meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=5">
  <link rel=icon href="https://evanjon.es/static/img/favicon.ico" type="image/x-icon">
</head>
<body class='bg-gray-100'>
  <style>
    {{ template "tailwind.min.css" }}

    header {
      min-height: 500px;
      height: 50vh;
      max-height: 700px;
    }

    @media (max-width: 768px) { 
      header {
        min-height: 475px;
      }
    }

    header > span > i,
    aside > span > i,
    footer > span > i,
    #bg-spacer > span > i {
      width: 0; 
      height: 0; 
      border-top: 100px solid transparent;
      border-right: 100vw solid #f7fafc;
    }


    aside > span:first-of-type > i {
      border-right: 100vw solid #63b3ed;
    }

    aside > span:first-of-type,
    footer > span:first-of-type,
    #bg-spacer > span:last-of-type {
      margin-top: -100px;
    }

    aside > span:last-of-type > i,
    footer > span:last-of-type > i {
      border-right: 100vw solid #4a5568;
    }

    #bg-spacer > span:last-of-type > i {
      border-right: 100vw solid #bee3f8;
    }

    header > div {
      background: linear-gradient(90deg,#51cefc,rgba(32,159,255,0));
    }

    @media (min-width: 768px) { 
      header #tagline {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    main {
      margin-bottom: -350px !important;
    }

    button, input[type='submit'] {
      cursor: pointer;
    }

    video {
      background-size: cover;
    }

    pre {
      overflow: auto;
      -webkit-overflow-scrolling: touch; 
    }

    #notes > div > div > span {
      max-width: 5rem;
    }
    @media (min-width: 640px) { 
      #notes > div > div > span {
        max-width: 10rem;
      }
    }
    @media (min-width: 768px) {
      #notes > div > div > span {
        max-width: 20rem;
      }
    }

  </style>

  <header class='relative bg-blue-900'>

    <span class='overflow-hidden z-20 absolute top-0 w-full h-full'>
      <i class='absolute bottom-0 w-full'></i>
    </span>

    <div class='overflow-hidden absolute top-0 left-0 h-full w-full'>
      <video class='absolute top-0 left-0 h-full w-full object-cover z-0' 
             autoplay loop playsinline muted
             poster="/static/image/poster-min.png">
        <source src="/static/video/hero-min.mp4" type="video/mp4">
      </video>
    </div>

    <div class='z-10 absolute top-0 left-0 h-full w-full'></div>

    <span id='tagline' class='z-30 absolute left-0 w-full'>
      <div class='max-w-4xl mx-auto'>
        <div class='mx-5 lg:mx-0'>

          {{ if .HasUser }}
          <h3 class='text-white font-black text-4xl mt-10 sm:mt-20 md:-mt-20 mb-5'>Welcome back</h3>

          <a href='#export'>
            <button class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2
                           px-4 rounded hover:shadow">
              My data
            </button>
          </a>

          <form class='inline' action="/user/logout" method="POST">
            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2
                           px-4 rounded hover:shadow ml-3">
              Logout
            </button>
          </form>
          <a href='#login'>
          </a>
          {{ else }}
          <h3 class='text-white font-black text-4xl mt-10 sm:mt-20 md:-mt-20 mb-5'>Get started</h3>
          <a href='#register'>
            <button class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2
                           px-4 rounded hover:shadow">
              Register
            </button>
          </a>
          <a href='#login'>
            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2
                           px-4 rounded hover:shadow ml-3">
              Login
            </button>
          </a>
          {{ end }}

        </div>
      </div>
    </span>

    {{ if .HasUser }}
    <span class='z-30 absolute bottom-0 left-0 w-full'>
      <div class='mx-5 lg:mx-0 -mb-5'>
        <div class='bg-white shadow-xl rounded max-w-4xl mx-auto p-5 pt-0'>
          <form action='/note/create' method='POST' class='py-5'>
            <fieldset>
              <legend class='block text-grey-700 text-xl font-bold mb-5'>
                Send to phone
              </legend>
              <div class='mt-1'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='note-text'>
                  Text
                </label>
                <div class='flex shadow rounded'>
                  <input type='text' 
                         autofocus
                         required 
                         placeholder='Text' 
                         onfocus="this.parentElement.classList.add('shadow-outline')"
                         onblur="this.parentElement.classList.remove('shadow-outline')"
                         id='note-text'
                         name='Text'
                         class='appearance-none border w-full py-2 px-3
                                rounded-l text-grey-700 leading-tight focus:outline-none text-md' />
                  <input class="bg-blue-500 hover:bg-blue-700 text-white
                                rounded-r font-bold py-2 px-4  text-md"
                         onfocus="this.parentElement.classList.add('shadow-outline')"
                         onblur="this.parentElement.classList.remove('shadow-outline')"
                         value='Send'
                         type="submit"/>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </span>
    {{ else }}
    <span class='z-30 absolute bottom-0 left-0 w-full'>
      <div class='mx-5 lg:mx-0 -mb-5'>
        <div class='bg-white shadow-xl rounded max-w-4xl mx-auto p-5 pt-0'>
          <h1 class='text-6xl font-black text-gray-700'>
            smscp
          </h1> 
          <h2 class="text-2xl text-gray-600">
            The <strong class='font-block text-gray-700'>easiest</strong> way to copy text to &
            from your phone and computer.
          </h2> 
        </div>
      </div>
    </span>
    {{ end }}


  </header>

  <main class='relative z-30 max-w-4xl m-auto mb-20'>
    <div class='mx-5'>
      {{ if .HasUser }}
      <div>

        {{ if .Latest }}
        <div class='block md:flex flex-row md:-mx-5 mt-20'>
          <div class='w-full md:mx-5'>
            <form action='/placeholder' 
                  id='latest-form'
                  method='POST' 
                  class='w-full h-full bg-white shadow-md pt-6 pb-10 rounded px-10'>
              <fieldset>
                <legend class='block text-grey-700 text-xl font-bold mb-5'>
                  Copy the most recently created note to your clipboard
                </legend>
                <div class='mb-5'>
                  <label class='block text-grey-700 text-sm font-bold mb-2'
                         for='note-text'>
                    Latest note
                  </label>
                  <input type='text' 
                         required 
                         placeholder='Text' 
                         id='note-text'
                         name='Text'
                         value='{{ .Latest.Short }}'
                         disabled
                         class='shadow appearance-none border rounded w-full py-2 px-3
                         text-grey-700 leading-tight focus:outline-none
                         focus:shadow-outline text-md' />
                </div>
                <div>
                  <div class="flex items-center justify-between">
                    <input class="bg-blue-500 hover:bg-blue-700 text-white
                           font-bold py-2 px-4 rounded shadow 
                           focus:outline-none focus:shadow-outline text-md"
                           value='Copy to clipboard'
                           type="submit"/>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          </div>
        </div>
        <script>
          (function() {
            var form = document.getElementById('latest-form');
            form.addEventListener('submit', function(event) {
              event.stopPropagation();
              event.preventDefault();
              smscp.copy('{{ .Latest.NoteText }}')
            });
          })();
        </script>
        <hr class="my-10 -mb-10 border-b-2 border-gray-200">
        {{ end }}

        <article class='mt-20'>

          <h3 class='text-2xl font-bold text-gray-700 mb-5'>
            How do I copy text to my phone?
          </h3> 
          <p class='text-base mb-10 text-gray-700'>
            <a class='text-pink-600' href='#create-link'>Enter the text in the input below and press send!</a> 
            As easy as that. Within seconds you will receive a sms message with
            the input provided. Once the sms has been received open your phone,
            and press/hold the sms message itself, this will prompt a menu
            from your phone's operating system. You will find a 
            <strong class='font-black text-gray-700'>copy</strong>
            item within the menu.
          </p>

          <h3 class='text-2xl font-bold text-gray-700 mb-5'>
            How do I copy text to my computer?
          </h3> 
          <p class='text-base mb-10 text-gray-700'>
            Simply reply to a message you've received from 
						<a class='font-black text-pink-600' href="/">smscp</a>
            in the past. You will receive a 
            <strong class='font-black text-gray-700'>message received</strong>
            reply. After, visit this website and a new box will appear showing
            <strong class='font-black text-gray-700'>Copy the most recently created note to your clipboard</strong>.
            Click 
            <strong class='font-black text-gray-700'>Copy to clipboard</strong>!
          </p>

          <h3 class='text-2xl font-bold text-gray-700 mb-5'>
            Give me the CLI already!
          </h3> 
          <p class='text-base text-gray-700'>
            Oh, well, ahem. Right this way... You can find binaries for
            <a class='text-pink-600' href='/dl/win/smscp.exe'>Windows/x86_64</a>,
            <a class='text-pink-600' href='/dl/mac/smscp'>MacOS/x86_64</a>,
            <a class='text-pink-600' href='/dl/lin/smscp'>Linux/x86_64</a> 
            here. You can also build from source if you have the 
            <a class='text-pink-600' href='https://golang.org/'>Go programming language</a> 
            installed.
            <pre class='bg-white mt-4 py-2 px-4 border rounded shadow font-mono'><code>go get github.com/mini-eggs/smscp/cmd/smscp</code></pre>
          </p>

        </article>

        <hr class="my-10 border-b-2 border-gray-200">

        <div class='block md:flex flex-row md:-mx-5'>
          <div class='w-full mb-10 md:mx-5'>
            <div class='flex flex-col w-full h-full bg-white shadow-md pt-6 pb-10 rounded px-10'>

              <!-- export all data -->
              <form class='pt-3 sm:pt-0 flex flex-1 items-center' action='/gdpr' id='export' method='GET'>
                <fieldset>
                  <legend class='block text-grey-700 text-xl font-bold mb-5'>
                    Export your data. Take your data with you.
                  </legend>
                  <div>
                    <div class="flex items-center justify-between">
                      <input class="bg-blue-500 hover:bg-blue-700 text-white
                             font-bold py-2 px-4 rounded shadow 
                             focus:outline-none focus:shadow-outline text-md"
                             value='Export' type="submit"/>
                    </div>
                  </div>
                </fieldset>
              </form>

              <div class='my-5 sm:my-0'></div>

              <!-- delete all data -->
              <form class='flex flex-1 items-center' action='/gdpr' id='delete' method='POST'>
                <fieldset>
                  <legend class='block text-grey-700 text-xl font-bold mb-5'>
                    Permanently remove your data from 
                    <strong class='font-black'>smscp</strong>.
                  </legend>
                  <div>
                    <div class="flex items-center justify-between">
                      <input class="bg-blue-500 hover:bg-blue-700 text-white
                             font-bold py-2 px-4 rounded shadow 
                             focus:outline-none focus:shadow-outline text-md"
                             value='Delete' type="submit"/>
                    </div>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>

          <div class='w-full mb-10 md:mx-5'>

            <form action='/user/update' 
                  id='update'
                  method='POST' 
                  class='w-full bg-white shadow-md pt-6 pb-10 rounded px-10 mb-10 md:mb-0'>
              <fieldset>
                <legend class='block text-grey-700 text-xl font-bold mb-5'>
                  Update account
                </legend>
                <div class='mb-5'>
                  <label class='block text-grey-700 text-sm font-bold mb-2'
                         for='update-username'>
                    Username
                  </label>
                  <input type='text' 
                         placeholder='Username' 
                         id='update-username'
                         name='Username'
                         class='shadow appearance-none border rounded w-full py-2 px-3
                         text-grey-700 leading-tight focus:outline-none
                         focus:shadow-outline text-md' />
                </div>
                <div class='mb-5'>
                  <label class='block text-grey-700 text-sm font-bold mb-2'
                         for='update-password'>
                    Password
                  </label>
                  <input type='password' 
                         placeholder='Password'
                         name='Password'
                         id='update-password'
                         class='shadow appearance-none border rounded w-full py-2 px-3
                         text-grey-700 leading-tight focus:outline-none
                         focus:shadow-outline text-md'/>
                </div>
                <div class='mb-5'>
                  <label class='block text-grey-700 text-sm font-bold mb-2'
                         for='update-verify'>
                    Verify Password
                  </label>
                  <input type='password'  
                         placeholder='Verify Password'
                         name='Verify'
                         id='update-verify'
                         class='shadow appearance-none border rounded w-full py-2 px-3
                         text-grey-700 leading-tight focus:outline-none
                         focus:shadow-outline text-md'/>
                </div>
                <div class='mb-5'>
                  <label class='block text-grey-700 text-sm font-bold mb-2'
                         for='update-phone'>
                    Phone Number
                  </label>
                  <input type='phone' 
                         placeholder='Phone Number'
                         name='Phone'
                         id='update-phone'
                         class='shadow appearance-none border rounded w-full py-2 px-3
                         text-grey-700 leading-tight focus:outline-none
                         focus:shadow-outline text-md'/>
                </div>
                <div class=''>
                  <div class="flex items-center justify-between">
                    <input class="bg-blue-500 hover:bg-blue-700 text-white
                           font-bold py-2 px-4 rounded shadow
                           focus:outline-none focus:shadow-outline text-md"
                           value='Update'
                           type="submit"/>
                  </div>
                </div>
              </fieldset>
            </form>

          </div>

        </div>


      </div>

      {{ else }}


      <article class='mt-20'>

        <h3 class='text-2xl font-bold text-gray-700 mb-5'>
          What is this?
        </h3> 
        <p class='text-base mb-10 text-gray-700'>
          This is a tool to move text snippets from your computer to
          your phone - or your phone to your computer - or even computer
          to computer. <strong class='font-black text-gray-700'>smscp</strong> exists as a user friendly website and also as
          a command line interface program for power users (if you don't know what
          a command line interface program is ignore this part!).
        </p>

        <h3 class='text-2xl font-bold text-gray-700 mb-5'>
          Why not just email myself?
        </h3> 
        <p class='text-base mb-10 text-gray-700'>
          Well, you can! I did it for years myself. Honestly, I found it annoying.
          My phone's email client always took way too long to load. 
          <strong class='font-black text-gray-700'>smscp</strong> is near instantaneous.
        </p>

        <h3 class='text-2xl font-bold text-gray-700 mb-5'>
          I'm not trusting any random website with my phone number.
        </h3> 
        <p class='text-base mb-10 text-gray-700'>
          Smart user you are. Just the user I want. All code for 
          <strong class='font-black text-gray-700'>smscp</strong>
          is available free of charge. 
          <a class='text-pink-600' href="https://github.com/mini-eggs/smscp">I invite you to inspect and audit.</a> 
          Please note, 
          <strong class='font-black text-gray-700'>smscp</strong>
          is licensed under the GNU Affero General Public License v3.0. If you
          fork your results must be made available under the same license.
        </p>

        <h3 class='text-2xl font-bold text-gray-700 mb-5'>
          Okay, I'm in. What now?
        </h3> 
        <p class='text-base mb-10 text-gray-700'>
          Visit the <a id='register-link' class='text-pink-600'
            href='#register'>registration form</a> below and provide your desired username, 
          password, and phone number. After your registration is complete you'll
          be navigated to a new homepage with a form to create a "note" these
          "notes" are the text you wish to copy between your devices. Try it out!
          Should be speedy (one to ten seconds to reach your device depending on
          carrier). After your test note has been received I recommend adding this
          number to your contacts as <strong class='font-black text-gray-700'>smscp</strong>.
          You can text this number at any time to create a "note" that can be
          received on your computer. Just log back into the <strong class='font-black text-gray-700'>smscp</strong> 
          website to see and copy it.
        </p>

        <h3 class='text-2xl font-bold text-gray-700 mb-5'>
          I am the power user. 
        </h3> 
        <p class='text-base text-gray-700'>
          Oh, well, ahem. Right this way... You can find binaries for
          <a class='text-pink-600' href='/dl/win/smscp.exe'>Windows/x86_64</a>,
          <a class='text-pink-600' href='/dl/mac/smscp'>MacOS/x86_64</a>,
          <a class='text-pink-600' href='/dl/lin/smscp'>Linux/x86_64</a> 
          here. You can also build from source if you have the 
          <a class='text-pink-600' href='https://golang.org/'>Go programming language</a> 
          installed.
          <pre class='bg-white mt-4 py-2 px-4 border rounded shadow font-mono'><code>go get github.com/mini-eggs/smscp/cmd/smscp</code></pre>
        </p>

      </article>

      <hr class="my-10 border-b-2 border-gray-200">

      <div class='block md:flex flex-row md:-mx-5'>
        <div class='w-full mb-10 md:mx-5'>

          <form action='/user/create' 
                id='register'
                method='POST' 
                class='w-full bg-white shadow-md pt-6 pb-10 rounded px-10 mb-10 md:mb-0'>
            <fieldset>
              <legend class='block text-grey-700 text-xl font-bold mb-5'>
                Register
              </legend>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='register-username'>
                  Username
                </label>
                <input type='text' 
                       required 
                       placeholder='Username' 
                       id='register-username'
                       name='Username'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md' />
              </div>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='register-password'>
                  Password
                </label>
                <input type='password' 
                       required 
                       placeholder='Password'
                       name='Password'
                       id='register-password'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md'/>
              </div>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='register-verify'>
                  Verify Password
                </label>
                <input type='password'  
                       required 
                       placeholder='Verify Password'
                       name='Verify'
                       id='register-verify'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md'/>
              </div>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='register-phone'>
                  Phone Number
                </label>
                <input type='phone' 
                       required 
                       placeholder='Phone Number'
                       name='Phone'
                       id='register-phone'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md'/>
              </div>
              <div class=''>
                <div class="flex items-center justify-between">
                  <input class="bg-blue-500 hover:bg-blue-700 text-white
                         font-bold py-2 px-4 rounded shadow
                         focus:outline-none focus:shadow-outline text-md"
                         value='Register'
                         type="submit"/>
                </div>
              </div>
            </fieldset>
          </form>
          
        </div>

        <div class='w-full mb-10 md:mx-5'>

          <form action='/user/login' 
                id='login'
                method='POST' 
                class='w-full h-full bg-white shadow-md pt-6 pb-10 rounded px-10'>
            <fieldset>
              <legend class='block text-grey-700 text-xl font-bold mb-5'>
                Login
              </legend>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='login-username'>
                  Username
                </label>
                <input type='text' 
                       required 
                       placeholder='Username' 
                       id='login-username'
                       name='Username'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md' />
              </div>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='login-password'>
                  Password
                </label>
                <input type='password' 
                       required 
                       placeholder='Password'
                       name='Password'
                       id='login-password'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md'/>
              </div>
              <div class=''>
                <div class="flex items-center">
                  <input class="bg-blue-500 hover:bg-blue-700 text-white
                         font-bold py-2 px-4 rounded shadow 
                         focus:outline-none focus:shadow-outline text-md"
                         value='Login'
                         type="submit"/>
                  <button class='ml-5 text-gray-500 hover:text-gray-700'
                          id='forgot-password-btn'>
                    forgot password
                  </button>
                </div>
              </div>
            </fieldset>
          </form>

          <form action='/user/forgot-password' 
                id='forgot-password'
                method='POST' 
                class='hidden w-full h-full bg-white shadow-md pt-6 pb-10 rounded px-10'>
            <fieldset>
              <legend class='block text-grey-700 text-xl font-bold mb-5'>
                Forgot password
              </legend>
              <div class='mb-5'>
                <label class='block text-grey-700 text-sm font-bold mb-2'
                       for='login-username'>
                  Username
                </label>
                <input type='text' 
                       required 
                       placeholder='Username' 
                       id='login-username'
                       name='Username'
                       class='shadow appearance-none border rounded w-full py-2 px-3
                       text-grey-700 leading-tight focus:outline-none
                       focus:shadow-outline text-md' />
              </div>
              <div class=''>
                <div class="flex items-center">
                  <input class="bg-blue-500 hover:bg-blue-700 text-white
                         font-bold py-2 px-4 rounded shadow 
                         focus:outline-none focus:shadow-outline text-md"
                         value='Submit'
                         type="submit"/>
                  <button class='ml-5 text-gray-500 hover:text-gray-700'
                          id='login-btn'>
                    login
                  </button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>

      {{ end }}
    </div>
  </main>

  <div class='py-20 bg-blue-200 relative -mt-20'>
    <div class='py-20 bg-blue-200'>
      <div id='bg-spacer' class='py-20 bg-blue-200'>
        <span class='overflow-hidden z-20 absolute top-0 left-0 w-full h-full'>
          <i class='absolute top-0 left-0 w-full'></i>
        </span>
      </div>
    </div>
  </div>

  {{ if .Notes }}
  <div class='bg-blue-400 py-20 relative'>
    <aside class='py-20'>

      <span class='overflow-hidden z-20 absolute top-0 left-0 w-full h-full'>
        <i class='absolute top-0 left-0 w-full'></i>
      </span>

      <span class='z-30 absolute top-0 left-0 w-full -mt-20'>
        <div class='mx-5 lg:mx-0 -mt-5'>
          <div class='max-w-4xl mx-auto'>
          <div class='bg-white shadow-xl rounded mx-auto md:mx-5 p-5 md:pt-0'>
            <h1 class='text-4xl md:text-6xl font-black text-gray-700'>
              Your notes
            </h1> 
            <h2 class="text-xl md:text-2xl text-gray-600">
              Your previous notes will appear here.
            </h2> 
          </div>
          </div>
        </div>
      </span>

      <div class='relative z-30 max-w-4xl m-auto mb-20'>
        <div class='mx-5'>
          <div id='notes' class="-m-2 text-center">
            {{ range .Notes }}
            <div class="p-2 inline-block">
              <div class="shadow inline-flex items-center bg-white leading-none text-gray-600 rounded-full p-2 shadow text-teal text-sm">
                <button onclick='smscp.copy("{{ .NoteText }}")'>
                  <span class="inline-flex bg-blue-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Copy</span>
                </button>
                <span class="inline-flex px-2">
                  <span class='overflow-hidden whitespace-no-wrap truncate'>
                    {{ .NoteShort }}
                  </span>
                </span>
              </div>
            </div>
            {{ end }}
          </div>
          {{ if .NotesHasMore }}
          <div class='flex justify-center align-center'>
            <button id='more' class="mt-20 border rounded shadow border-blue-900 bg-blue-900 text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center">
              <span>more</span>
            </button>
          </div>
          <script>
            (function() {
              var page = 0;
              var container = document.getElementById("notes");
              var btn = document.getElementById("more");
              var span = btn.querySelector('span')
              btn.addEventListener("click", async function(event) {
                event.preventDefault();
                event.stopPropagation();
                btn.setAttribute("disabled", true);
                span.textContent = "loading";
                try {
                  var req = await fetch(`/note/list/${++page}`)
                  var res = await req.json()
                  btn.removeAttribute("disabled");
                  span.textContent = "more";
                  if(!res.NotesHasMore) {
                    btn.parentElement.removeChild(btn);
                  }
                  for(var note of res.Notes) {
                    container.innerHTML += `
                      <div class="p-2 inline-block">
                        <div class="shadow inline-flex items-center bg-white leading-none text-gray-600 rounded-full p-2 shadow text-teal text-sm">
                          <button onclick='smscp.copy("${note.NoteText}")'>
                            <span class="inline-flex bg-blue-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Copy</span>
                          </button>
                          <span class="inline-flex px-2 max-w-xs">
                            <span class='overflow-hidden whitespace-no-wrap truncate'>
                              ${note.NoteShort}
                            </span>
                          </span>
                        </div>
                      </div>
                    `;
                  }
                }
                catch(e) {
                  span.textContent = e.toString();
                }
              });
            })();
          </script>

          {{ end }}
        </div>
      </div>
    </aside>
  </div>
  {{ end }}

  <footer class="relative bg-gray-700 text-gray-100 px-2 pt-0 pb-2 mt-0">

    <span class='overflow-hidden z-20 absolute top-0 left-0 w-full h-full'>
      <i class='absolute top-0 w-full'></i>
    </span>

		<div class="relative z-30 container mx-auto py-8">
			<div class="flex flex-wrap mb-2 px-4">
				<div class="w-full md:w-1/3 text-center md:text-left px-3 mb-2 md:mb-0 pb-3 sm:pb-0">
					<p class="text-white font-bold text-xl my-3">
            What is smscp?
          </p>
          <p>
						<a class='font-black text-green-400' href="/">
              smscp
            </a>
            is a free an open source project created by and maintained by 
						<a class='font-black text-green-400' href="https://twitter.com/minieggs40" rel="noopener">
              Evan M Jones
            </a>
            with the goal of creating the 
            <strong class='font-block'>easiest</strong>
            way to copy text to & from your phone and computer.
          </p>
				</div>
				<div class="w-full md:w-1/3 text-center md:text-left px-3 sm:px-1 mb-2 md:mb-0 pb-3 sm:pb-0"></div>
				<div class="w-full md:w-1/3 text-center md:text-left px-3 sm:px-1 mb-2 md:mb-0 pb-3 sm:pb-0">
					<p class="text-white font-bold text-xl my-3">
            In public.
          </p>
          <p>
            Various locations you can find 
						<a class='font-black text-green-400' href="/">
              smscp
            </a>
            on the internet.
          </p>
					<p class="pt-6">
						<a class="footerlink pr-3" href="https://www.github.com/mini-eggs/smscp" rel="noopener">
              <svg class="inline fill-current text-brand-ondark w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <title>GitHub</title>
                <path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path>
              </svg>
            </a>
					</p>
				</div>
			</div>
		</div>
	</footer>

  <script>
    {{ template "mask.min.js" }}
    // globals
    (function() {
      window.smscp = {};
      // clipboard 
      window.smscp.copy = function copy(text) {
        var el = document.createElement('textarea');
        el.value = text;
        el.setAttribute('readonly', '');
        el.style = {position: 'absolute', left: '-9999px'};
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
      }
    })();
    // phone input
    (function() {
      var phoneMask = ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/];
      var elements = document.querySelectorAll("input[name='Phone']");
      for(var e = 0; e < elements.length; e++) {
        var maskedInputController = vanillaTextMask.maskInput({
          inputElement: elements[e],
          mask: phoneMask
        });
      }
    })();
    // forgot password + login click events
    (function() {
      var lbtn = document.getElementById('login-btn');
      var lform = document.getElementById('login');
      var fbtn = document.getElementById('forgot-password-btn');
      var fform = document.getElementById('forgot-password');
      events(lbtn, lform, fform);
      events(fbtn, fform, lform);
      function events(btn, enable, disable) {
        btn.addEventListener('click', function(e) {
          e.stopPropagation();
          e.preventDefault();
          enable.classList.remove('hidden');
          disable.classList.add('hidden');
          enable.querySelector('input').focus();
        });
      }
    })();
    // register and login buttons
    (function() {
      withEvents(
        document.getElementById('login'),
        document.querySelector('a[href=\'#login\'')
      );
      
      withEvents(
        document.getElementById('register'),
        document.querySelector('a[href=\'#register\'')
      );

      withEvents(
        document.getElementById('export'),
        document.querySelector('a[href=\'#export\'')
      );

      withEvents(
        document.getElementById('create'),
        document.querySelector('a[href=\'#create-link\'')
      );

      withEvents(
        document.getElementById('register'),
        document.getElementById('register-link')
      );

      // highlight form
      // on button press
      // with off touch events
      function withEvents(el, btn) {
        if(!el || !btn) {
          return 
        }
        btn.addEventListener('click', function(e) {
          e.preventDefault();
          e.stopPropagation();
          unHighlight();
          // highlight container if it has class of 'w-full'
          // keep looking in parents until
          var container = el;
          while(!container.classList.contains('shadow-outline')) {
            if(container.classList.contains('w-full')) {
              console.log({container})
              container.classList.add('shadow-outline');
            }
            else {
              container = container.parentElement;
            }
          }
          el.querySelector('input').focus(); // focus first input
          el.addEventListener('click', function(e) {
            e.stopPropagation();
          });
          document.body.addEventListener('click', function() {
            unHighlight();
          });
          function unHighlight() {
            var elements = document.querySelectorAll('.shadow-outline');
            for(var e = 0; e < elements.length; e++) {
              elements[e].classList.remove('shadow-outline');
            }
          }
        })
      }
    })();
  </script>
</body>
</html>
