<!doctype html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>smscp</title>
  <meta name=description content="The easiest way to copy text to and from your cell phone and computing machines.">
  <meta name="twitter:site" content="https://smscp.xyz/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="smscp" />
  <meta name="twitter:description" content="The easiest way to copy text to and from your cell phone and computing machines." />
  <meta name="twitter:image:src" content="https://i.imgur.com/4ibpo8Q.png" />
  <meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=5">
  <link rel=icon href="https://evanjon.es/static/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <style>
    {{ template "water-dark.min.css" }}
    fieldset { border: 1px #0096bfab solid; border-radius: 6px; margin: 0; margin-bottom: 6px; padding: 10px; }
    legend { font-size: 0.9em; font-weight: 600; }
  </style>
  <main>
    <h1>smscp</h1>
    {{ if .HasUser }}
    <div>
      <p>If you don't like using websites for something that can be put into a
      command line interface application you're invited to install the command
      line interface of smscp. To install you must have the <a href="https://golang.org/">Go</a>
      programming language installed. After installation run:</p>
      <pre><code>go get github.com/mini-eggs/smscp/cmd/smscp</code></pre>
      <p>This will build a binary and place it at <code>$HOME/go/bin/smscp</code>. 
      If you've installed Go correctly this will already be in your path. If not I
      recommend taking a trip to <a href="https://duckduckgo.com/?q=how+to+gopath&ia=web">DuckDuckGo</a>. 
      Run <code>smscp help</code> for a list of options.</p>
      {{ if .Latest }}
      <form id='latest-form' action="/placeholder">
        <fieldset>
          <legend>latest note</legend>
          <div>
            <input type="text" name="Text" placeholder="text" value='{{ .Latest.Short }}' disabled/>
          </div>
          <div>
            <input type="submit" value="copy to clipboard"/>
          </div>
        </fieldset>
      </form>
      <script>
        (function() {
          var form = document.getElementById('latest-form');
          form.addEventListener('submit', function(event) {
            event.preventDefault();
            var el = document.createElement('textarea');
            el.value = '{{ .Latest.Text }}';
            el.setAttribute('readonly', '');
            el.style = {position: 'absolute', left: '-9999px'};
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
          });
        })();
      </script>
      <br/>
      {{ end }}
      <form action="/note/create" method="POST">
        <fieldset>
          <legend>create note</legend>
          <div>
            <input type="text" name="Text" placeholder="text" autofocus />
          </div>
          <div>
            <input type="submit" value="go"/>
          </div>
        </fieldset>
      </form>
      <br/>
      <form action="/user/logout" method="POST">
        <fieldset>
          <legend>logout</legend>
          <div>
            <input type="submit" value="logout"/>
          </div>
        </fieldset>
      </form>
      <br/>
      <form action="/user/update" method="POST">
        <fieldset>
          <legend>update account</legend>
          <div>
            <input type="email" name="Email" placeholder="email" />
          </div>
          <div>
            <input type="password" name="Password" placeholder="password" />
          </div>
          <div>
            <input type="password" name="Verify" placeholder="verify" />
          </div>
          <div>
            <input type="text" name="Phone" placeholder="phone number">
          </div>
          <div>
            <input type="submit" value="go"/>
          </div>
        </fieldset>
      </form>
      {{ if .Notes }}
      <br/>
      <form id='latest-form' action="/placeholder">
        <fieldset>
          <legend>notes</legend>
          <div id="notes">
            {{ range .Notes }}
            <details>
              <summary>{{ .Short }}</summary>
              <p>{{ .Text }}</p>
            </details>
            {{ end }}
          </div>
          {{ if .NotesHasMore }}
          <br/>
          <button id="more">load more</button>
          <script>
            (function() {
              let page = 0;
              let container = document.getElementById("notes");
              let btn = document.getElementById("more");
              btn.addEventListener("click", async function(event) {
                event.preventDefault();
                event.stopPropagation();
                btn.setAttribute("disabled", true);
                btn.textContent = "loading";
                try {
                  let req = await fetch(`/note/list/${++page}`)
                  let res = await req.json()
                  btn.removeAttribute("disabled");
                  btn.textContent = "load more";
                  if(!res.NotesHasMore) {
                    btn.parentElement.removeChild(btn);
                  }
                  for(let note of res.Notes) {
                    let details = document.createElement("details");
                    let summary = document.createElement("summary");
                    summary.textContent = note.NoteShort;
                    details.appendChild(summary)
                    let p = document.createElement("p");
                    p.textContent = note.NoteText;
                    details.appendChild(p)
                    container.appendChild(details);
                  }
                }
                catch(e) {
                  btn.textContent = e.toString();
                }
              });
            })();
          </script>
          {{ end }}
        </fieldset>
      </form>
      {{ end }}
    </div>
    {{ else }}
    <p>The <strong>easiest</strong> way to copy text to and from your cell phone
    and computing machines.</p>
    <p>Start by creating an account (or signing into your existing account) then
    creating a "note" - these notes are immediately sent to the number you've
    provided.</p>
    <p>If you don't like using websites for something that can be put into a
    command line interface application you're invited to install the command
    line interface of smscp. To install you must have the <a href="https://golang.org/">Go</a>
    programming language installed. After installation run:</p>
    <pre><code>go get github.com/mini-eggs/smscp/cmd/smscp</code></pre>
    <p>This will build a binary and place it at <code>$HOME/go/bin/smscp</code>. 
    If you've installed Go correctly this will already be in your path. If not I
    recommend taking a trip to <a href="https://duckduckgo.com/?q=how+to+gopath&ia=web">DuckDuckGo</a>. 
    Run <code>smscp help</code> for a list of options. You may also create
    your account via the command line interface, <code>smscp register</code>.</p>
    <form action="/user/create" method="POST">
      <fieldset>
        <legend>create account</legend>
        <div>
          <input type="email" name="Email" placeholder="email" autofocus required />
        </div>
        <div>
          <input type="password" name="Password" placeholder="password" required />
        </div>
        <div>
          <input type="password" name="Verify" placeholder="verify" required />
        </div>
        <div>
          <input type="phone" name="Phone" placeholder="phone number" required>
        </div>
        <div>
          <input type="submit" value="go"/>
        </div>
      </fieldset>
    </form>
    <br/>
    <form action="/user/login" method="POST">
      <fieldset>
        <legend>login</legend>
        <div>
          <input type="email" name="Email" placeholder="email" />
        </div>
        <div>
          <input type="password" name="Password" placeholder="password" />
        </div>
        <div>
          <input type="submit" value="go"/>
        </div>
      </fieldset>
    </form>
    {{ end }}
  </main>
  <script>
    {{ template "mask.min.js" }}
    (function() {
      var phoneMask = ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/];
      var elements = document.querySelectorAll("input[name='Phone']");
      for(var e = 0; e < elements.length; e++) {
        var maskedInputController = vanillaTextMask.maskInput({
          inputElement: elements[e],
          mask: phoneMask
        });
      }
    })();
  </script>
</body>
